# ---- .NET / Visual Studio ----
bin/
obj/
out/
publish/
*.user
*.suo
*.userosscache
*.sln.docstates
.vs/

# Build results
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Ww][Ii][Nn]32/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/

# Rider / VS Code
.idea/
.vscode/

# NuGet
*.nupkg
*.snupkg
**/packages/*
!**/packages/build/
project.lock.json
project.fragment.lock.json
artifacts/

# MSBuild / test
*.binlog
[Tt]est[Rr]esult*/
[Bb]uild[Ll]og.*

# OS junk
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/
.DS_Store
